HTML {
	
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: url(/_resources/media/img/bg.jpg) #e5e6ea repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #4d4d4d; LINE-HEIGHT: 19px; PADDING-TOP: 0px
}
H1 {
	MARGIN: 0px 0px 8px; LETTER-SPACING: 0px
}
H2 {
	MARGIN: 0px 0px 8px; LETTER-SPACING: 0px
}
H3 {
	MARGIN: 0px 0px 8px; LETTER-SPACING: 0px
}
H4 {
	MARGIN: 0px 0px 8px; LETTER-SPACING: 0px
}
H1 {
	FONT-SIZE: 30px; MARGIN-BOTTOM: 5px; COLOR: white; LETTER-SPACING: -1px
}
H2 {
	FONT-SIZE: 24px; COLOR: #88b740; LETTER-SPACING: -1px
}
H3 {
	FONT-SIZE: 14px; COLOR: #3f557a
}
H4 {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #3f557a
}
P {
	MARGIN: 0px
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM: #eaeaea 1px solid; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	FONT-SIZE: 11px
}
#layAll {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layMain {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layTop {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layTopPath {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layTopBanner {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layBannerRight {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layLeft {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layCenter {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layContent {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layContent2 {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layRight {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layFooter {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#layFooterMarcas {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentMenuItem {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentMenuItem2 {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentMenuTitle {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentMenuBox {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentMenuBoxTitle {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentRightTitle {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDiretoAoPonto {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentParceiros {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDepoimentosText {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDepoimentosImg {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDepoimentos {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDestaque {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentDestaque2 {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanoTitle {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanoText {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanoText2 {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlano {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.form_input_search {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.form_input_boxes {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.box_ini {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanIniDesc_right {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanIniDesc_left {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanIniPrice {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanDesc_left {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanDesc_right {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanIniDetailContract {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanIniDetail {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentApoio {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.open {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.closed {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.vps_dados_wide {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.open_tall {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.open {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlano_wide {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanoText_wide {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentPlanoTitle_wide {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.links_gerenciamento {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#lightbox {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
#lightboxDetails {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
.contentTitlePopup {
	BEHAVIOR: url("/_resources/scripts/boxsizing.htc"); box-sizing: border-box; -moz-box-sizing: border-box
}
* {
	FONT-FAMILY: Arial, Verdana
}
#layAll {
	BACKGROUND: url(/_resources/media/img/bg_footer.png) repeat-x 50% bottom
}
#layTop {
	WIDTH: 778px; HEIGHT: 152px
}
#layTopFlash {
	MARGIN-TOP: 45px; MARGIN-LEFT: 405px; POSITION: absolute
}
#layTopLogoFlash {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; POSITION: absolute
}
#layBannerNatal {
	LEFT: 525px; POSITION: absolute; TOP: 110px
}
#layTopPath {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; FONT-WEIGHT: bold; BACKGROUND: url(/_resources/media/img/bg_title.jpg) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 778px; COLOR: white; PADDING-TOP: 28px; HEIGHT: 89px; TEXT-ALIGN: left
}
#layTopBanner {
	WIDTH: 778px; HEIGHT: 180px; BACKGROUND-COLOR: #cecfd2
}
#layBannerRight {
	MARGIN: 0px 0px 10px
}
#layMain {
	BORDER-RIGHT: #cecfd2 1px solid; BACKGROUND: url(/_resources/media/img/bg_main.gif) repeat-y; WIDTH: 778px; TEXT-ALIGN: left
}
#layMainBg {
	BACKGROUND: url(/_resources/media/img/bg_main2.jpg) no-repeat
}
#layLeft {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 181px; PADDING-TOP: 25px
}
#layCenter {
	FLOAT: left; WIDTH: 432px
}
#layContent {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 25px; WIDTH: 432px; PADDING-TOP: 25px
}
#layContent2 {
	PADDING-LEFT: 25px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 25px; WIDTH: 560px; PADDING-TOP: 25px
}
#layRight {
	FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 161px; PADDING-TOP: 25px
}
#layFooterMarcas {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; WIDTH: 778px; PADDING-TOP: 15px; HEIGHT: 72px; TEXT-ALIGN: center
}
#layFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 778px; COLOR: white; PADDING-TOP: 0px; HEIGHT: 99px; TEXT-ALIGN: center
}
#layMainPopup {
	BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
#layContentPopup {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ececec
}
#box_internal_popup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
#box_content_popup {
	FLOAT: left
}
.layItem_list2Cols {
	FLOAT: left; WIDTH: 150px; TEXT-ALIGN: center
}
.layItem_list4Cols {
	FLOAT: left; WIDTH: 150px; TEXT-ALIGN: center
}
A:link {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #9fca34
}
A.destaque {
	FONT-SIZE: 18px
}
A.menu {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A.menu:active {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}
A.menu2 {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: none
}
A.menu2:visited {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: none
}
A.menu2:active {
	FONT-WEIGHT: bold; COLOR: #3f557a; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #9fca34; TEXT-DECORATION: underline
}
A.menu2:hover {
	COLOR: #9fca34; TEXT-DECORATION: underline
}
A.path:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.button {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: #b9cad3 1px solid; BACKGROUND: #b9cad3; VERTICAL-ALIGN: middle; BORDER-LEFT: #b9cad3 1px solid; BORDER-BOTTOM: black 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
LI {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: -10px
}
.form_table {
	WIDTH: 100%
}
.form_td_label {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; WIDTH: 100px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.form_td_input {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.form_label {
	FONT-SIZE: 11px
}
.form_button {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: #3f557a 1px solid; FONT-WEIGHT: bold; BACKGROUND: #3f557a; BORDER-LEFT: #3f557a 1px solid; COLOR: white; BORDER-BOTTOM: black 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.form_input {
	BORDER-RIGHT: #7399b6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7399b6 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: white; PADDING-BOTTOM: 0px; BORDER-LEFT: #7399b6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #7399b6 1px solid
}
.form_input_search {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 65px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.form_input_boxes {
	BORDER-RIGHT: #7399b6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7399b6 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 4px; BORDER-LEFT: #7399b6 1px solid; WIDTH: 113px; BORDER-BOTTOM: #7399b6 1px solid
}
.form_required {
	COLOR: #ff0000
}
.form_error_highlight {
	BACKGROUND-COLOR: #7399b6
}
.form_error_box {
	BORDER-RIGHT: #7399b6 1px solid; BORDER-TOP: #7399b6 1px solid; BORDER-LEFT: #7399b6 1px solid; BORDER-BOTTOM: #7399b6 1px solid; BACKGROUND-COLOR: #dddddd
}
.form_error_title {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.form_error {
	MARGIN: 0px; LIST-STYLE-TYPE: circle
}
.form_help_box {
	BORDER-RIGHT: #bfb8b3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #bfb8b3 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #bfb8b3 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #bfb8b3 1px solid; FONT-FAMILY: arial, sans-serif; BACKGROUND-COLOR: #d7d1cc; TEXT-ALIGN: left
}
.form_filedetail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
SELECT {
	BORDER-RIGHT: #7399b6 1px solid; BORDER-TOP: #7399b6 1px solid; BORDER-LEFT: #7399b6 1px solid; BORDER-BOTTOM: #7399b6 1px solid
}
OPTION {
	FONT-SIZE: 11px
}
SELECT {
	FONT-SIZE: 11px
}
.form_input {
	FONT-SIZE: 11px
}
.form_button {
	FONT-SIZE: 11px
}
.tree {
	MARGIN: 0px
}
.contentMenuTitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 7px; PADDING-BOTTOM: 4px; BORDER-LEFT: #a6ce39 4px solid; COLOR: white; PADDING-TOP: 4px; LETTER-SPACING: -1px; BACKGROUND-COLOR: #3f557a
}
.contentMenuItem {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/_resources/media/img/line_cinza.gif) no-repeat 50% bottom; PADDING-BOTTOM: 2px; COLOR: #3f557a; PADDING-TOP: 2px; HEIGHT: 20px
}
.contentMenuItem2 {
	PADDING-LEFT: 20px; FONT-SIZE: 11px; BACKGROUND: url(/_resources/media/img/line_cinza.gif) no-repeat 50% bottom; PADDING-BOTTOM: 3px; COLOR: #3f557a; PADDING-TOP: 3px; HEIGHT: 20px
}
.contentMenuBox {
	BORDER-RIGHT: #eaeaea 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #eaeaea 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #eaeaea 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #eaeaea 1px solid
}
.contentMenuBoxTitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; COLOR: #3f557a; PADDING-TOP: 4px; LETTER-SPACING: -1px; BACKGROUND-COLOR: #a5ce39
}
.contentRightTitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; BORDER-LEFT: #3f557a 4px solid; COLOR: #3f557a; MARGIN-RIGHT: 18px; PADDING-TOP: 4px; LETTER-SPACING: -1px; BACKGROUND-COLOR: #a5ce39
}
.contentRightTitle2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; BORDER-LEFT: #3f557a 4px solid; COLOR: #3f557a; PADDING-TOP: 4px; LETTER-SPACING: -1px; BACKGROUND-COLOR: #a5ce39
}
.contentRightBox {
	PADDING-RIGHT: 18px; BACKGROUND: url(/_resources/media/img/line_cinza.gif) repeat-x 50% bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.contentDiretoAoPonto {
	PADDING-RIGHT: 0px; MARGIN-TOP: 8px; PADDING-LEFT: 10px; FONT-SIZE: 11px; BACKGROUND: url(/_resources/media/img/bg_diretoaoponto.jpg) no-repeat; WIDTH: 143px; LINE-HEIGHT: 16px; MARGIN-RIGHT: 18px; PADDING-TOP: 15px; HEIGHT: 172px
}
.contentParceiros {
	MARGIN-TOP: 8px; BACKGROUND: url(/_resources/media/img/bg_parceiros.jpg) no-repeat; WIDTH: 143px; MARGIN-RIGHT: 18px; HEIGHT: 93px; TEXT-ALIGN: center
}
.contentParceiros2 {
	MARGIN-TOP: 8px; BACKGROUND: url(/_resources/media/img/bg_parceiros.jpg) no-repeat; WIDTH: 143px; HEIGHT: 93px; TEXT-ALIGN: center
}
.contentDepoimentos {
	MARGIN-TOP: 20px; BACKGROUND: url(/_resources/media/img/bg_depoimentos.jpg) no-repeat; WIDTH: 382px; HEIGHT: 211px
}
.contentDepoimentosText {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 382px; LINE-HEIGHT: normal; PADDING-TOP: 10px; HEIGHT: 211px
}
.contentDepoimentosImg {
	PADDING-RIGHT: 1px; FLOAT: left; WIDTH: 152px; PADDING-TOP: 2px; HEIGHT: 211px
}
.contentDestaque {
	BACKGROUND: url(/_resources/media/img/line_cinza.gif) repeat-x 50% bottom; PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; HEIGHT: 100px
}
.contentDestaque2 {
	BACKGROUND: url(/_resources/media/img/line_cinza.gif) repeat-x 50% bottom; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.contentPlanoTitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(/_resources/media/img/aba_top.jpg) no-repeat; PADDING-BOTTOM: 10px; WIDTH: 560px; COLOR: #ffffff; PADDING-TOP: 10px; LETTER-SPACING: -1px; HEIGHT: 36px
}
.contentPlano {
	FLOAT: left; MARGIN-BOTTOM: 15px
}
.contentAuthor {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 8px
}
.contentDate {
	FONT-SIZE: 11px
}
.contentLegend {
	FONT-SIZE: 11px
}
.contentCredit {
	FONT-SIZE: 11px; TEXT-ALIGN: right
}
.contentItemDetailDescription {
	MARGIN-TOP: 20px
}
.contentImageBoxRight {
	FLOAT: right; MARGIN: 0px 0px 5px 15px; WIDTH: 170px
}
.contentImage {
	BACKGROUND: url(/_resources/media/img/bg_contentPhoto.gif) repeat-y; TEXT-ALIGN: center
}
.contentImageThumb {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/_resources/media/img/bg_contentPhoto_70x60.png) no-repeat; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; WIDTH: 80px; MARGIN-RIGHT: 10px; PADDING-TOP: 5px; HEIGHT: 73px; TEXT-ALIGN: center
}
.contentImageInfo {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/_resources/media/img/bg_contentPhoto_103x50.png) no-repeat; PADDING-BOTTOM: 5px; WIDTH: 113px; PADDING-TOP: 5px; HEIGHT: 60px; TEXT-ALIGN: center
}
.contentImageSpecial {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/_resources/media/img/bg_contentPhoto_160x100.png) no-repeat; PADDING-BOTTOM: 5px; WIDTH: 170px; PADDING-TOP: 5px; HEIGHT: 113px; TEXT-ALIGN: center
}
.contentImageSpecialSmall {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/_resources/media/img/bg_contentPhoto_40x40.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 50px; MARGIN-RIGHT: 5px; PADDING-TOP: 5px; HEIGHT: 53px; TEXT-ALIGN: center
}
.contentSeparator {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; MARGIN-BOTTOM: 7px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.contentSeparator2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; WIDTH: 113px; BORDER-BOTTOM: #bbcccc 1px solid; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.contentItemRowTitle_only {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.contentItemRowTitle_only_dest {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.contentItemRowTitle_only_dest {
	BACKGROUND-COLOR: #eeddcc
}
.contentItemRow {
	MARGIN-BOTTOM: 5px
}
.contentTDTitle {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #3f557a; COLOR: white; HEIGHT: 25px
}
.contentTD {
	BACKGROUND: white
}
.box_ini {
	BACKGROUND: url(/_resources/media/img/aba_bg.gif) no-repeat; WIDTH: 382px; PADDING-TOP: 15px; HEIGHT: 190px
}
.contentPlanIniDesc_right {
	PADDING-LEFT: 0px; FLOAT: left; WIDTH: 160px
}
.contentPlanIniPrice {
	PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(/_resources/media/img/aba_bg_preco.gif) no-repeat; WIDTH: 131px; COLOR: white; PADDING-TOP: 7px; HEIGHT: 44px
}
#tableServers {
	BORDER-RIGHT: #d1d4df 1px solid; BORDER-TOP: #d1d4df 1px solid; BORDER-LEFT: #d1d4df 1px solid; BORDER-BOTTOM: #d1d4df 1px solid; TEXT-ALIGN: center
}
#tableServers TD {
	BORDER-RIGHT: #d1d4df 1px solid; BORDER-TOP: #d1d4df 1px solid; BORDER-LEFT: #d1d4df 1px solid; BORDER-BOTTOM: #d1d4df 1px solid; TEXT-ALIGN: center
}
.contentPlanDesc_left {
	FLOAT: left; WIDTH: 100px; TEXT-ALIGN: right
}
.contentPlanDesc_right {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 90px; COLOR: #3f557a
}
.contentPlanIniDetailContract {
	MARGIN-LEFT: 12px
}
.contentPlanIniDetail {
	PADDING-LEFT: 11px; HEIGHT: 90px
}
#companyid {
	DISPLAY: inline
}
.contentTitlePopup {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 24px; BACKGROUND: url(/_resources/media/img/bg_tit_pop.gif) no-repeat; COLOR: white; PADDING-TOP: 15px; LETTER-SPACING: -1px; HEIGHT: 52px
}
.contentApoio {
	PADDING-RIGHT: 20px; PADDING-LEFT: 30px; BACKGROUND: url(/_resources/media/img/bg_apoio.png) no-repeat; PADDING-BOTTOM: 20px; PADDING-TOP: 15px
}
.links_gerenciamento {
	MARGIN-TOP: -110px; LIST-STYLE-POSITION: inside; WIDTH: 235px; MARGIN-RIGHT: 0px; LIST-STYLE-TYPE: none
}
.open_tall {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; RIGHT: -20px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 261px; PADDING-TOP: 0px; POSITION: absolute; TOP: -176px
}
.open {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; RIGHT: -20px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 261px; PADDING-TOP: 0px; POSITION: absolute; TOP: -145px
}
.closed {
	DISPLAY: none
}
.balloon_bottom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/_resources/media/img/balloon_bottom.gif) no-repeat center center; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 261px; PADDING-TOP: 0px; HEIGHT: 18px
}
.balloon_content {
	BORDER-RIGHT: #e3e3e3 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e3e3e3 1px solid; BACKGROUND: white; BORDER-LEFT: #e3e3e3 1px solid; WIDTH: 253px
}
.balloon_content LI {
	MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px
}
.balloon_content UL {
	BACKGROUND: white; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.vps_detalhes {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/_resources/media/img/arrow2.gif)
}
.contentPlanoTitle_wide {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(/_resources/media/img/aba_top.jpg) repeat-x; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 495px; COLOR: #ffffff; PADDING-TOP: 10px; LETTER-SPACING: -1px; HEIGHT: 36px
}
.contentPlano_wide {
	MARGIN-BOTTOM: 0px; WIDTH: 495px; POSITION: relative; HEIGHT: 125px
}
.contentPlanoText_wide {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; BACKGROUND: url(/_resources/media/img/aba_bg4.jpg) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 495px; LINE-HEIGHT: 18px; PADDING-TOP: 10px; HEIGHT: 122px
}
.vps_dados_wide {
	PADDING-TOP: 10px; HEIGHT: 105px
}
#overlayAjax {
	Z-INDEX: 90; WIDTH: 100%; POSITION: absolute; BACKGROUND-COLOR: #000
}
#overlayAjaxContent {
	Z-INDEX: 100; POSITION: absolute
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#box_image {
	MARGIN-TOP: 7px; MARGIN-LEFT: 7px
}
#box_image_window {
	BACKGROUND: white; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
#box_image_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN-LEFT: 7px; COLOR: black; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.imgBoxThumb_listCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; WIDTH: 100px; PADDING-TOP: 8px; HEIGHT: 85px; TEXT-ALIGN: center
}
.imgThumb {
	
}
.imgThumb_lst {
	
}
.imgThumb_lst {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.imgBoxDetail {
	FONT-SIZE: 11px; FLOAT: left; MARGIN: 0px 0px 5px 15px; WIDTH: 214px
}
.imgBoxDetail_right {
	FLOAT: right
}
.imgDetail {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.icon_mark {
	MARGIN-RIGHT: 5px
}
.photo {
	MARGIN: 5px
}
.imageTab {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 60px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTab1000 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 58px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabilimitado {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 80px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabCf {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabRor {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabJ {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTab1000Cf {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabilimitadoCf {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabWm {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTab1000Wm {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabilimitadoWm {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabFcs {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTab1000Fcs {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabilimitadoFcs {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 84px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabVps {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 163px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTab1000Vps {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 4px 0px 0px; WIDTH: 163px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabilimitadoVps {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 163px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabRegistro {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 2px; WIDTH: 95px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
.imageTabLicenca {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 2px; WIDTH: 131px; HEIGHT: 39px; BORDER-RIGHT-WIDTH: 0px
}
#lightbox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
#lightboxDetails {
	FONT-SIZE: 11px; PADDING-TOP: 5px
}
#lightboxCaption {
	
}
#closeButton {
	RIGHT: 0px; TOP: 0px
}
#lightbox IMG {
	CLEAR: both; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#overlay IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#overlay {
	BACKGROUND-IMAGE: url(/_resources/media/img/overlay.png)
}
* HTML #overlay {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/_resources/media/img/overlay.png", sizingMethod="scale"); BACKGROUND-COLOR: transparent
}
