	<tr>
		<td class="CartThumb">
			&nbsp;
		</td>
		<td class="ProductName">
			%%GLOBAL_GiftCertificateName%% (<a href="giftcertificates.php?action=purchase&itemid=%%GLOBAL_CartItemId%%">%%LNG_Edit%%</a>)
			<br />%%LNG_CapitalFor%%: %%GLOBAL_GiftCertificateTo%%
		</td>
		<td align="center">
			1
			<br /><a href="javascript:void(0)" onclick="Cart.RemoveItem('%%GLOBAL_CartItemId%%')" class="CartRemoveLink">%%LNG_Remove%%</a>
	</td>
	<td align="center">%%GLOBAL_ProductPrice%%</td>
	<td align="right"><em class="ProductPrice">%%GLOBAL_ProductTotal%%</em></td>
</tr>