	<dt><span class="Required">*</span> %%LNG_EmailAddress%%:</dt>
	<dd><input type="text" class="Textbox Field200" name="account_email" id="account_email" value="%%GLOBAL_AccountEmail%%" /></dd>
		
	<dt><span class="Required">*</span> %%LNG_FirstName%%:</dt>
	<dd><input type="text" class="Textbox Field200" name="account_firstname" id="account_firstname" value="%%GLOBAL_AccountFirstName%%" /></dd>

	<dt><span class="Required">*</span> %%LNG_LastName%%:</dt>
	<dd><input type="text" class="Textbox Field200" name="account_lastname" id="account_lastname" value="%%GLOBAL_AccountLastName%%" /></dd>