<div id="CreateAccountForm" class="FloatLeft" style="display: none;">
	<div class="FormContainer HorizontalFormContainer">
		<dl>
			<dt><span class="Required">*</span> %%LNG_EmailAddress%%:</dt>
			<dd><input type="text" class="Textbox Field200" name="account_email" id="account_email" value="" /></dd>
		
			<dt class="CheckoutAccountRequiredFields"><span class="Required">*</span> %%LNG_Password%%:</dt>
			<dd class="CheckoutAccountRequiredFields"><input type="password" class="Textbox Field200" name="account_password" id="account_password" value="" />
		
			<dt class="CheckoutAccountRequiredFields"><span class="Required">*</span> %%LNG_PasswordConfirm%%:</dt>
			<dd class="CheckoutAccountRequiredFields"><input type="password" class="Textbox Field200" name="account_password2" id="account_password2" value="" />
				
			<dt><span class="Required">*</span> %%LNG_FirstName%%:</dt>
			<dd><input type="text" class="Textbox Field200" name="account_firstname" id="account_firstname" value="%%GLOBAL_AccountFirstName%%" /></dd>

			<dt><span class="Required">*</span> %%LNG_LastName%%:</dt>
			<dd><input type="text" class="Textbox Field200" name="account_lastname" id="account_lastname" value="%%GLOBAL_AccountLastName%%" /></dd>

			<dt class="CheckoutAccountRequiredFields">&nbsp;&nbsp; %%LNG_CompanyName%%:</dt>
			<dd class="CheckoutAccountRequiredFields"><input type="text" class="Textbox Field200" name="account_companyname" id="account_companyname" value="%%GLOBAL_AccountCompanyName%%" /></dd>
		</dl>
	</div>
</div>