<li>
	<div class="ProductImage">
		%%GLOBAL_ProductThumb%%
	</div>
	<div class="ProductDetails">
		<strong><a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a></strong>
		<em style="display: block;">%%LNG_Was%%: <strike>%%GLOBAL_OriginalProductPrice%%</strike></em>
		<em style="display: block; font-size: 115%;">%%LNG_Now%%: %%GLOBAL_ProductPrice%%</em>
		<span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></span>
	</div>
</li>