							<li>
								<div class="TopSellerNumber">%%GLOBAL_ProductNumber%%</div>
								<div class="ProductImage">
									%%GLOBAL_ProductThumb%%
								</div>
								<div class="ProductDetails">
									<strong><a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a></strong>
									<em>%%GLOBAL_ProductPrice%%</em>
									<span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" /></span>
									<div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
										<strong><a href="%%GLOBAL_ProductURL%%">%%GLOBAL_ProductAddText%%</a></strong>
									</div>
								</div>
							</li>