vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 May 2004 14:53:44 -0000
vti_extenderversion:SR|5.0.2.2623
vti_usagebymonth:UX|27
vti_usagebyweek:UX|3 24
vti_usagebyday:UX|0 3 24
vti_usagelastupdated:TX|23 May 2004 15:32:44 -0000
vti_usagetotalhits:IX|27
