.caixacontato {
	BORDER-RIGHT: #EF2F72 0px solid; BORDER-TOP: #EF2F72 0px solid; FONT-SIZE: 11px; MARGIN: 1px; BORDER-LEFT: #EF2F72 0px solid; COLOR: #000000; BORDER-BOTTOM: #EF2F72 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
* {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; FONT-FAMILY: Trebuchet MS; BORDER-RIGHT-WIDTH: 0px; outline: none
}
BODY {
	BACKGROUND: url(fundo-ver.jpg) #e5e5e5 repeat-x; COLOR: #333
}
A {
	COLOR: #900; TEXT-DECORATION: none
}
A:hover {
	COLOR: #900; TEXT-DECORATION: underline
}
#asw {
	BACKGROUND: url(fundo-hor.jpg) #ffffff repeat-y; MARGIN: auto; WIDTH: 756px
}
#pagina {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MIN-HEIGHT: 350px; BACKGROUND: url(fundo.jpg) no-repeat; PADDING-BOTTOM: 0px; OVERFLOW: auto; WIDTH: 740px; PADDING-TOP: 0px
}
#topo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(logo.jpg) #f8f8f8 no-repeat left bottom; PADDING-BOTTOM: 0px; WIDTH: 740px; PADDING-TOP: 0px; HEIGHT: 84px
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(menu-logo.gif) no-repeat left top; PADDING-BOTTOM: 0px; WIDTH: 740px; PADDING-TOP: 0px; HEIGHT: 34px
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(menu-bg.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 117px; PADDING-TOP: 0px; HEIGHT: 25px
}
#menu UL LI {
	CLEAR: none; DISPLAY: block; FLOAT: left
}
#menu UL LI A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #f8f8f8; PADDING-TOP: 6px; HEIGHT: 19px; TEXT-DECORATION: none
}
#menu UL LI A:hover {
	BACKGROUND: url(menu-on.gif) #DF2318 repeat-x; COLOR: #fff; TEXT-DECORATION: none
}
#logo {
	FLOAT: left; MARGIN: 0px; TEXT-INDENT: -5000px
}
#logo A {
	DISPLAY: block; MARGIN-LEFT: 26px; WIDTH: 257px; HEIGHT: 84px
}
#topo UL {
	CLEAR: right; PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 52px
}
#topo UL LI {
	DISPLAY: block; FLOAT: left
}
#topo UL LI A {
	BORDER-RIGHT: #f8f8f8 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f8f8f8 2px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 0px 0px; BORDER-LEFT: #f8f8f8 2px solid; WIDTH: 20px; TEXT-INDENT: -5000px; LINE-HEIGHT: 12px; PADDING-TOP: 0px; BORDER-BOTTOM: #f8f8f8 2px solid; HEIGHT: 12px; TEXT-DECORATION: none
}
#topo UL LI A.br {
	BACKGROUND: url(idioma-br.gif) no-repeat
}
#topo UL LI A.uk {
	BACKGROUND: url(idioma-uk.gif) no-repeat
}
#topo UL LI A.za {
	BACKGROUND: url(idioma-za.gif) no-repeat
}
#topo UL LI A:hover {
	BORDER-RIGHT: #ccc 2px solid; BORDER-TOP: #ccc 2px solid; BORDER-LEFT: #ccc 2px solid; BORDER-BOTTOM: #ccc 2px solid
}
#topo FORM TABLE {
	CLEAR: right; FLOAT: right
}
#topo FORM .busca {
	PADDING-RIGHT: 8px; FONT-SIZE: 11px
}
#topo FORM .input {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(busca-bg.gif) no-repeat; PADDING-BOTTOM: 2px; WIDTH: 125px; PADDING-TOP: 2px; HEIGHT: 16px
}
#topo FORM .input INPUT {
	FONT-SIZE: 11px; WIDTH: 120px; COLOR: #000
}
#topo FORM #sbb {
	MARGIN: 0px 12px 0px 4px
}
H1 {
	MARGIN-TOP: 16px; FONT-SIZE: 16px; MARGIN-LEFT: 20px
}
H2 {
	MARGIN-TOP: 5px; FONT-SIZE: 13px; MARGIN-LEFT: 20px
}
#opcoes {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 12px; WIDTH: 120px; PADDING-TOP: 20px
}
#opcoes LI {
	DISPLAY: block; PADDING-BOTTOM: 8px; LIST-STYLE-TYPE: none
}
#conteudo {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 150px; PADDING-TOP: 20px
}
#conteudo P {
	MARGIN-BOTTOM: 12px
}
#conteudo UL {
	MARGIN-BOTTOM: 12px
}
#conteudo TABLE {
	MARGIN-BOTTOM: 12px
}
#conteudo H3 {
	MARGIN-BOTTOM: 12px
}
#conteudo UL {
	PADDING-LEFT: 40px
}
#conteudo P.sub {
	PADDING-LEFT: 25px
}
#conteudo HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 12px; COLOR: #999; HEIGHT: 1px; BACKGROUND-COLOR: #999; BORDER-RIGHT-WIDTH: 0px
}
#conteudo #custo {
	border-spacing: 0px
}
#conteudo #docs {
	border-spacing: 0px
}
#conteudo #docs {
	BORDER-TOP: #999 1px solid; MARGIN-LEFT: 25px
}
#conteudo EM {
	COLOR: #900; FONT-STYLE: normal
}
#conteudo P.fixed {
	PADDING-LEFT: 25px; FONT-SIZE: 8pt; FONT-FAMILY: Courier, "Courier New", monospace
}
#conteudo .imagem {
	FLOAT: right; TEXT-ALIGN: center
}
#conteudo .imagem IMG {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
#conteudo #custo TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; border-spacing: 0px
}
#conteudo #docs TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; border-spacing: 0px
}
#conteudo #docs TH {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; border-spacing: 0px
}
#conteudo #custo TH {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; WHITE-SPACE: nowrap; border-spacing: 0px
}
#conteudo P.resposta {
	MARGIN-TOP: -5px; DISPLAY: none; PADDING-BOTTOM: 10px; MARGIN-LEFT: 25px
}
#boleto {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; MARGIN: 0px 20px 20px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: center
}
#links {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#links LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 130px; PADDING-TOP: 5px; HEIGHT: 130px; TEXT-ALIGN: center
}
#links A {
	FONT-SIZE: 12px
}
.destaque {
	BACKGROUND: url(software-home.jpg) no-repeat
}
.destaque A.br {
	DISPLAY: block; BACKGROUND: url(software-home-br.gif) no-repeat 220px 206px; WIDTH: 740px; TEXT-INDENT: -5000px; HEIGHT: 250px
}
.destaque A.br:hover {
	BACKGROUND: url(software-home-br-on.gif) no-repeat 220px 206px
}
#destaques {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.destaque2 {
	CLEAR: none; BORDER-TOP: #999 1px solid; FLOAT: left; MARGIN: 0px 10px 15px 20px; WIDTH: 335px; PADDING-TOP: 15px
}
.destaque2 A {
	CLEAR: left; DISPLAY: block; FONT-SIZE: 12px; COLOR: #333; TEXT-DECORATION: none
}
.destaque2 A:hover {
	COLOR: #900; TEXT-DECORATION: none
}
.destaque2 B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px
}
.destaque2 IMG {
	PADDING-RIGHT: 12px; FLOAT: left
}
#contato {
	WIDTH: 530px; border-spacing: 0px
}
#contato TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#contato INPUT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; WIDTH: 320px; COLOR: #333; BORDER-BOTTOM: #999 1px solid
}
#contato SELECT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; WIDTH: 320px; COLOR: #333; BORDER-BOTTOM: #999 1px solid
}
#contato TEXTAREA {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; WIDTH: 320px; COLOR: #333; BORDER-BOTTOM: #999 1px solid
}
#contato INPUT {
	HEIGHT: 18px
}
#contato INPUT.check {
	BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; WIDTH: 13px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 13px; BORDER-BOTTOM-STYLE: none
}
#contato SELECT {
	WIDTH: 322px; HEIGHT: 21px
}
#contato .btn {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #ccc; BORDER-LEFT: #999 1px solid; WIDTH: 80px; COLOR: #333; BORDER-BOTTOM: #999 1px solid; HEIGHT: 21px
}
#clientes {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 12px 20px 20px; OVERFLOW: auto; PADDING-TOP: 0px
}
#clientes LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; WIDTH: 350px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#rodape {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px 28px; OVERFLOW: auto;
}
#rodape IMG {
	FLOAT: right
}
#fim {
	BACKGROUND: url(fundo-fim.jpg) #e5e5e5 no-repeat; WIDTH: 756px; HEIGHT: 16px
}
