.menu_titulos {
	BORDER-RIGHT: gainsboro 1px solid; BORDER-TOP: gainsboro 1px solid; FONT-SIZE: 11px; BORDER-LEFT: gainsboro 1px solid; COLOR: black; BORDER-BOTTOM: gainsboro 1px solid; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #F2F9FF; TEXT-DECORATION: none
}
.menu_titulos_over {
	BORDER-RIGHT: #003466 1px solid; BORDER-TOP: #003466 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #003466 1px solid; COLOR: black; BORDER-BOTTOM: #003466 1px solid; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_titulos_selected {
	BORDER-RIGHT: gainsboro 1px solid; BORDER-TOP: gainsboro 1px solid; FONT-SIZE: 11px; BORDER-LEFT: gainsboro 1px solid; COLOR: black; BORDER-BOTTOM: gainsboro 1px solid; FONT-FAMILY: Tahoma, Arial; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.menu_fundo {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.submenu_fundo {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #003466
}
.menu_transparent {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=90)
}
.menu_sombra {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FILTER: progid:DXImageTransform.Microsoft.Shadow(strength=5,color=gray,direction=135); BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}

.aham {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
.texto {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
PRE {
	FONT-SIZE: 1.2em
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; PADDING-TOP: 0px; 
}
H1 {
	FONT-SIZE: 22px
}
A {
	COLOR: #003466; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline; color: #003466;
}
A.lnk-branco {
	COLOR: #f6f6f6; TEXT-DECORATION: none
}
A.lnk-branco:hover {
	TEXT-DECORATION: underline; color: #f6f6f6;
}
#paginacao {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 3px; HEIGHT: 30px
}
#paginacao A {
	BORDER-RIGHT: #293a03 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #293a03 1px solid; PADDING-LEFT: 3px; FONT: 11px arial; BORDER-LEFT: #293a03 1px solid; COLOR: #000; BORDER-BOTTOM: #293a03 1px solid; TEXT-DECORATION: none
}
#paginacao A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #293a03; TEXT-DECORATION: underline
}
#paginacao .selected {
	COLOR: #ffffff; BACKGROUND-COLOR: #293a03
}
#tb-principal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 780px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
#tb-topo2 {
	COLOR: #ffffff
}
#tb-topo2 TD {
	TEXT-ALIGN: center
}
.td-menuesquerdo {
	VERTICAL-ALIGN: top; WIDTH: 150px
}
.td-menudireita {
	VERTICAL-ALIGN: top; WIDTH: 150px
}
.td-conteudo {
	VERTICAL-ALIGN: top; WIDTH: 460px
}
IMG.imagem_publicidade {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#tb-relogio {
	BACKGROUND-COLOR: #f5f3e7
}
.td-topmenuesquerdo {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(13.jpg); COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.td-topenquete {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #ffffff; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.td-topmenudireito {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(12.jpg); COLOR: #699407; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.td-toppublicidade {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(nada.jpg); COLOR: #699407; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.listabanners IMG {
	DISPLAY: block; MARGIN: 2px 0px 3px
}
.listabanners OBJECT {
	DISPLAY: block; MARGIN: 2px 0px 3px
}
.td-botmenuesquerdo {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(nada.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 8px
}
.td-bgmenuesquerdo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(nada.jpg); VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.td-bgmenuesquerdo_out {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(nada.jpg); VERTICAL-ALIGN: middle; BACKGROUND-REPEAT: no-repeat; HEIGHT: 17px
}
.td-bgmenuesquerdo_mural {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(2.jpg); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-y
}
.td-bgmenudireitopub {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(1.jpg); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-y
}
#tb-ultimasnoticias {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #f5f3e7
}
.td-publicidade {
	PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #dedace 1px solid
}
#tb-rodape {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.td-onmouseover {
	BACKGROUND-COLOR: #f8f9f3
}
.td-onmouseout {
	BACKGROUND-COLOR: #f5f3e7
}
.td-flashnocatop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #9caf12
}
.td-flashnocacorpo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #cfe926
}
.td-cinematop {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #333333
}
.td-cinemacorpo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #cccccc
}
.td-topprogramacao {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #3a5004; TEXT-ALIGN: center
}
.td-corpoprogramacao {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
#tblistafilmes TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 11px Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 2px
}
#tblistafilmes TD.filmbarratitulo {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
#tblistafilmes TD.filmlist {
	BORDER-BOTTOM: #333333 1px solid
}
.sep-vertical {
	HEIGHT: 5px
}
.sep-horizontal {
	WIDTH: 5px
}
.cnt-topleft_relogio {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.cnt-botleft_relogio {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.cnt-topright_relogio {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.cnt-botright_relogio {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 10px
}
.lnh-top_relogio {
	BACKGROUND-IMAGE: url(11.jpg); WIDTH: 129px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 10px
}
.lnh-bot_relogio {
	BACKGROUND-IMAGE: url(5.jpg); WIDTH: 129px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 10px
}
.lnh-lef_relogio {
	BACKGROUND-IMAGE: url(7.jpg); WIDTH: 10px; BACKGROUND-REPEAT: repeat-y
}
.lnh-rig_relogio {
	BACKGROUND-IMAGE: url(9.jpg); WIDTH: 10px; BACKGROUND-REPEAT: repeat-y
}
.cnt-topleft_conteudo {
	BACKGROUND-IMAGE: url(3.jpg); WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 4px
}
.cnt-topright_conteudo {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 4px
}
.cnt-botleft_conteudo {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 4px
}
.cnt-botright_conteudo {
	BACKGROUND-IMAGE: url(nada.jpg); WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 4px
}
.lnh-rigconteudo {
	BACKGROUND-IMAGE: url(8.jpg); WIDTH: 4px; BACKGROUND-REPEAT: repeat-y
}
.lnh-lefconteudo {
	BACKGROUND-IMAGE: url(6.jpg); WIDTH: 4px; BACKGROUND-REPEAT: repeat-y
}
.lnh-topconteudo {
	BACKGROUND-IMAGE: url(10.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 4px
}
.lnh-botconteudo {
	BACKGROUND-IMAGE: url(4.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 4px
}
#dvmenuprincipal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 148px; PADDING-TOP: 0px; POSITION: relative
}
#dvmenuprincipal UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
}
#dvmenuprincipal LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#dvmenuprincipal LI A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #f6f6f6 1px solid; BACKGROUND-COLOR: #023D75; TEXT-DECORATION: none
}
#dvmenuprincipal LI A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #C6362D; TEXT-DECORATION: none
}
.topmenuesquerdo {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(13.jpg); COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
.fnt-titulo {
	FONT: bold 18px Arial, Helvetica, sans-serif
}
.fnt-chapeu {
	FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #699407
}
.fnt-chapeufotos {
	FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #333333
}
.fnt-chamada {
	FONT: 11px Arial, Helvetica, sans-serif; COLOR: #4a463d
}
.fnt-chamada2 {
	FONT: 12px Arial, Helvetica, sans-serif; COLOR: #4a463d
}
.fnt-texto {
	FONT: 13px Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.fnt-dataextenso {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #333333
}
.fnt-legendalocutores {
	FONT-SIZE: 11px
}

SELECT {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
.frm-semborda {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#shopfloater {
	DISPLAY: none
}
#shopfloater {
	LEFT: 790px; WIDTH: 120px; POSITION: absolute; TOP: 150px; HEIGHT: 29.8em
}
SPAN.faux_text {
	DISPLAY: none; FLOAT: left; MARGIN: 0px auto; FONT: 11px arial; WIDTH: 100%; COLOR: #ff0000! important; TEXT-ALIGN: left
}
.td_buscasite {
	BACKGROUND-COLOR: #f5f3e7
}
#shadow {
	DISPLAY: block; Z-INDEX: 999; BACKGROUND: #000; FILTER: alpha(opacity=60); LEFT: 0px; POSITION: absolute; TOP: 0px; opacity: 0.6; moz-opacity: 0.6
}
#floatercontent {
	DISPLAY: block; Z-INDEX: 999; BACKGROUND: #000; FILTER: alpha(opacity=60); LEFT: 0px; POSITION: absolute; TOP: 0px; opacity: 0.6; moz-opacity: 0.6
}
#floatercontent {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: alpha(opacity=100); opacity: 1; moz-opacity: 1
}
