<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<contextmenu>
		<item name="Editing" value="False" />
		<item name="Format" value="False" />
		<item name="Insert" value="False" />
		<item name="InsertAdvanced" value="False" />
		<item name="InsertFiles" value="False" />
		<item name="InsertForms" value="False" />
		<item name="Relative" value="False" />
		<item name="Tags" value="False" />
		<item name="Verbs" value="False" />
	</contextmenu>
	<toolbars>
		<item type="g_start" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="separator" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="holder" name="insertcustombutonhere" />
		<item type="g_end" />
	</toolbars>
</configuration>
