<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<security name="MaxImageSize">30000000000</security>
	<security name="MaxMediaSize">100000000000000</security>
	<security name="MaxFlashSize">10000000000000</security>
	<security name="MaxDocumentSize">10000000000000</security>
	<security name="MaxTemplateSize">10000000000000</security>
	<security name="ImageGalleryPath">/jari/administrador/ups/diversos/imagens</security>
	<security name="MediaGalleryPath">/jari/administrador/ups/diversos/medias</security>
	<security name="FlashGalleryPath">/jari/administrador/ups/diversos/flash</security>
	<security name="TemplateGalleryPath">/Templates</security>
	<security name="FilesGalleryPath">/jari/administrador/ups/diversos/arquivos</security>
	<security name="AllowUpload">true</security>
	<security name="AllowCreateFolder">true</security>
	<security name="AllowRename">true</security>
	<security name="AllowDelete">true</security>
	<security name="ImageFilters">
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
	</security>
	<security name="MediaFilters">
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.mp3</item>
		<item>.wav</item>
		<item>.wmv</item>
	</security>
  <security name="DocumentFilters">
    <item>.txt</item>
    <item>.doc</item>
    <item>.pdf</item>
    <item>.zip</item>
    <item>.rar</item>
    <item>.avi</item>
    <item>.mpg</item>
    <item>.mpeg</item>
    <item>.jpg</item>
    <item>.jpeg</item>
    <item>.gif</item>
    <item>.png</item>
    <item>.htm</item>
  </security>
	<security name="TemplateFilters">
		<item>.html</item>
		<item>.htm</item>
	</security>
  <!-- Allow upload, disable the delete,create funtion -->
  <security name="DemoMode">false</security>
</configuration>