a:link {
	color: #6699CC;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a:visited {
	color: #6699CC;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #6699CC;
	text-decoration: none;
}
.inputbox {
	background-color: #E4E4E4;
}
.boldlink {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	cursor: crosshair;
	font-style: normal;
}
