<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		<div class="Content Wide" id="LayoutColumn1">
			<div class="Block">
				<h2>%%GLOBAL_StoreName%% - %%LNG_OrderIdHash%%%%GLOBAL_OrderId%%</h2>
				<div class="BlockContent">
					%%Panel.AccountOrder%%
				</div>
			</div>
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.AccountOrderLinks%%
			%%Panel.SideAccountMenu%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>