<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
		%%Panel.Header%%
		<div id="Wrapper">
			<div class="Content Wide" id="LayoutColumn1">
				<div class="Block">
					<h2>%%LNG_SubmitNewReturn%%</h2>
					<div class="BlockContent">
						<p class="SuccessMessage">
							%%LNG_ReturnRequestSubmitted%%
						</p>
						<p>%%LNG_ReturnSubmittedInfo%%</p>
						<div style="display: %%GLOBAL_HideReturnInstructions%%">
							<h3>%%LNG_ReturnInstructions%%</h3>
							<p>%%GLOBAL_ReturnInstructions%%</p>
						</div>
					</div>
				</div>
			</div>
			<div class="Right" id="LayoutColumn2">
				%%Panel.SideAccountMenu%%
			</div>
			<br class="Clear" />
		</div>
		%%Panel.Footer%%
	</div>
</body>
</html>