<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/cart.js"></script>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.CartBreadcrumb%%
			%%Panel.CartHeader%%
			%%Panel.CartErrorMessage%%
			%%Panel.CartStatusMessage%%
            %%Panel.CartFreeShipping%%
			%%Panel.CartContent%%
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.SideCouponCodeBox%%
			%%Panel.SideGiftCertificateCodeBox%%
			%%Panel.SideProductRecentlyViewed%%
			%%Panel.SideTopSellers%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>