<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		<div class="Left" id="LayoutColumn1">
			%%Panel.SideCategoryList%%
			%%Panel.SideCategoryShopByPrice%%
			%%Panel.SideShopByBrand%%
			%%Panel.SideNewsletterBox%%
			%%Panel.SideLiveChatServices%%
		</div>
		<div class="Content %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn2">
			%%Panel.CategoryBreadcrumb%%
			%%Banner.TopBanner%%
			%%Panel.CategoryHeading%%
			%%Panel.CategoryPagingTop%%
			%%Panel.CategoryContent%%
			%%Panel.CategoryPagingBottom%%
			%%Banner.BottomBanner%%
		</div>
		<div class="Right" id="LayoutColumn3" style="display: %%GLOBAL_HideRightColumn%%">
			%%Panel.SideCategoryTopSellers%%
			%%Panel.SideCategoryPopularProducts%%
			%%Panel.SideCategoryNewProducts%%
		</div>
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>