<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/express.checkout.js"></script>
	<div id="Container">
		%%Panel.Header%%
		<div id="Wrapper">
			<div class="Content Widest" id="LayoutColumn1">
				<div class="Block ExpressCheckout">
					<h2>%%LNG_ExpressCheckout%%</h2>
					<script type="text/javascript">
					lang.LoginEnterValidEmail = "%%LNG_LoginEnterValidEmail%%";
					lang.LoginEnterPassword = "%%LNG_LoginEnterPassword%%";
					lang.AccountEnterPassword = "%%LNG_AccountEnterPassword%%";
					lang.AccountPasswordsDontMatch = "%%LNG_AccountPasswordsDontMatch%%";
					lang.AccountEnterFirstName = "%%LNG_AccountEnterFirstName%%";
					lang.AccountEnterLastName = "%%LNG_AccountEnterLastName%%";
					lang.EnterShippingFullName = "%%LNG_EnterShippingFullName%%";
					lang.EnterShippingAddress = "%%LNG_EnterShippingAddress%%";
					lang.EnterShippingCity = "%%LNG_EnterShippingCity%%";
					lang.ChooseShippingCountry = "%%LNG_ChooseShippingCountry%%";
					lang.ChooseShippingState = "%%LNG_ChooseShippingState%%";
					lang.EnterShippingZip = "%%LNG_EnterShippingZip%%";
					lang.ExpressCheckoutStepBillingAddress = "%%LNG_ExpressCheckoutStepBillingAddress%%";
					lang.ExpressCheckoutStepBillingAccountDetails = "%%LNG_ExpressCheckoutStepBillingAccountDetails%%";
					lang.ExpressCheckoutLoadError = "%%LNG_ExpressCheckoutLoadError%%";
					lang.ExpressCheckoutCheckingOutAsGuest = "%%LNG_ExpressCheckoutCheckingOutAsGuest%%";
					lang.ExpressCheckoutCreatingAnAccount = "%%LNG_ExpressCheckoutCreatingAnAccount%%";
					lang.ExpressCheckoutChooseBilling = "%%LNG_ExpressCheckoutChooseBilling%%";
					lang.ExpressCheckoutChooseShipping = "%%LNG_ExpressCheckoutChooseShipping%%";
					lang.ExpressCheckoutChooseShipper = "%%LNG_ExpressCheckoutChooseShipper%%";
					lang.ExpressCheckoutFor = "%%LNG_ExpressCheckoutFor%%";
					lang.ExpressCheckoutLoading = "%%LNG_ExpressCheckoutLoading%%";

					$(document).ready(function() {
						ExpressCheckout.signedIn = %%GLOBAL_ExpressCheckoutSignedIn%%;
						ExpressCheckout.digitalOrder = %%GLOBAL_ExpressCheckoutDigitalOrder%%;
						ExpressCheckout.init();
					});
					</script>
					<div class="ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassAccountDetails%%" id="CheckoutStepAccountDetails" style="%%GLOBAL_ExpressCheckoutHideAccountDetails%%">
						<h3 class="ExpressCheckoutTitle">
							<a class="FloatRight ChangeLink" href="#" onclick="return ExpressCheckout.ChangeStep('AccountDetails');">%%LNG_Modify%% &raquo;</a>
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepAccountDetails%%: %%LNG_ExpressCheckoutStepAccountDetails%%
							<span class="ExpressCheckoutCompletedContent"></span>
						</h3>
						<div class="ExpressCheckoutContent">
							<div class="CreateAccount">
								<form action="#" method="post" onsubmit="ExpressCheckout.GuestCheckout(); return false;">
									<div id="CheckoutGuestForm" style="%%GLOBAL_HideGuestCheckoutOptions%%">
										<h4>%%LNG_NotAnExistingCustomer%%</h4>
										<p>%%LNG_CheckoutGuestIntro%%</p>
										<div class="PL40" style="line-height: 2;">
											<dl>
												<dd><label><input name="checkout_type" id="checkout_type_guest" value="guest" type="radio" onclick="$('#BillingDetailsLabel').html('%%LNG_ExpressCheckoutStepBillingAddress%%');" /> %%LNG_CheckoutAsAGuest%%</label></dd>
												<dd><label><input name="checkout_type" id="checkout_type_register" value="register" checked="checked" type="radio" onclick="$('#BillingDetailsLabel').html('%%LNG_ExpressCheckoutStepBillingAccountDetails%%');" /> %%LNG_RegisterAnAccount%%</label></dd>
												<dd class="Submit" style="margin-top: 4px;">
													<input type="submit" id="CreateAccountButton" value="%%LNG_Continue%%" /> <span class="LoadingIndicator" style="display: none"><img src="%%GLOBAL_TPL_PATH%%/images/Loading.gif" alt="" /></span>
												</dd>
											</dl>
										</div>
									</div>
									<div style="%%GLOBAL_HideRegisteredCheckoutOptions%%">
										<h4>%%LNG_NotAnExistingCustomer%%</h4>
										<p>%%LNG_CreateAccountIntroTitle%%</p>
										<div class="PL40">
											<ul style="margin-left: 0; line-height: 1.4; padding-left: 0;">
												<li style="margin-left: 0; padding-left: 0;">%%LNG_CreateAccountIntro1%%</li>
												<li style="margin-left: 0; padding-left: 0;">%%LNG_CreateAccountIntro2%%</li>
												<li style="margin-left: 0; padding-left: 0;">%%LNG_CreateAccountIntro3%%</li>
											</ul>
										</div>
										<p class="PL40 Submit" style="margin-top: 4px;">
											<input type="submit" value="%%LNG_Continue%%" /> <span class="LoadingIndicator" style="display: none"><img src="%%GLOBAL_TPL_PATH%%/images/Loading.gif" alt="" /></span>
										</p>
									</div>
								</form>
							</div>

							<div class="AccountLogin">
								<h4>%%LNG_AlreadyHaveAnAccount%%</h4>
								<p id="LoginIntro">%%LNG_AlreadyHaveAnAccountIntro%%</p>

								<form action="#" id="LoginForm" method="post" onsubmit="ExpressCheckout.Login(); return false;">
									<div class="FormContainer HorizontalFormContainer NarrowFormContainer">
										<p style="display: none" class="ErrorMessage" id="CheckoutLoginError">
											%%GLOBAL_LoginMessage%%
										</p>

										<dl>
											<dt>%%LNG_EmailAddress%%:</dt>
											<dd><input type="text" class="Textbox Field150 InitialFocus" name="login_email" id="login_email" /></dd>

											<dt>%%LNG_Password%%:</dt>
											<dd><input type="password" class="Textbox Field150" name="login_pass" id="login_pass" /></dd>
										</dl>
										<p class="Submit">
											<input id="LoginButton" type="submit" value="%%LNG_Continue%%" style="padding:2px 10px 2px 10px" /> <span class="LoadingIndicator" style="display: none"><img src="%%GLOBAL_TPL_PATH%%/images/Loading.gif" alt="" /></span>
											<br />
											<a href="%%GLOBAL_ShopPath%%/login.php?action=reset_password">%%LNG_ForgotYourPassword%%</a>
										</p>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="Clear ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassBillingAddress%%" id="CheckoutStepBillingAddress">
						<h3 class="ExpressCheckoutTitle">
							<a class="FloatRight ChangeLink" href="#" onclick="return ExpressCheckout.ChangeStep('BillingAddress');">%%LNG_Modify%% &raquo;</a>
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepBillingAddress%%:
							<span id="BillingDetailsLabel">%%LNG_ExpressCheckoutStepBillingAddress%%</span>
							<span class="ExpressCheckoutCompletedContent"></span>
						</h3>
						<div class="ExpressCheckoutContent">
							%%SNIPPET_BillingAddressStepContents%%
						</div>
					</div>

					<div class="Clear ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassShippingAddress%%" id="CheckoutStepShippingAddress" style="%%GLOBAL_ExpressCheckoutHideShippingAddress%%">
						<h3 class="ExpressCheckoutTitle">
							<a class="FloatRight ChangeLink" href="#" onclick="return ExpressCheckout.ChangeStep('ShippingAddress');">%%LNG_Modify%% &raquo;</a>
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepShippingAddress%%: %%LNG_ExpressCheckoutStepShippingAddress%%
							<span class="ExpressCheckoutCompletedContent"></span>
						</h3>
						<div class="ExpressCheckoutContent">
							%%SNIPPET_ShippingAddressStepContents%%
						</div>
					</div>

					<div class="Clear ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassShippingProvider%%" id="CheckoutStepShippingProvider" style="%%GLOBAL_ExpressCheckoutHideShippingProviders%%">
						<h3 class="ExpressCheckoutTitle">
							<a class="FloatRight ChangeLink" href="#" onclick="return ExpressCheckout.ChangeStep('ShippingProvider');">%%LNG_Modify%% &raquo;</a>
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepShippingProvider%%: %%LNG_ExpressCheckoutStepShippingMethod%%
							<span class="ExpressCheckoutCompletedContent"></span>
						</h3>
						<div class="ExpressCheckoutContent">
						</div>
					</div>

					<div class="Clear ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassConfirmation%%" id="CheckoutStepConfirmation">
						<h3 class="ExpressCheckoutTitle">
							<a class="FloatRight ChangeLink" href="#" onclick="return ExpressCheckout.ChangeStep('Confirmation');">%%LNG_Modify%% &raquo;</a>
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepConfirmation%%: %%LNG_ExpressCheckoutStepOrderConfirmation%%
							<span class="ExpressCheckoutCompletedContent"></span>
						</h3>
						<div class="ExpressCheckoutContent">
						</div>
					</div>

					<div class="Clear ExpressCheckoutBlock %%GLOBAL_CollapsedStepClassPaymentDetails%%" id="CheckoutStepPaymentDetails" style="%%GLOBAL_ExpressCheckoutHidePaymentDetails%%">
						<h3 class="ExpressCheckoutTitle">
							%%LNG_ExpressCheckoutStep%% %%GLOBAL_ExpressCheckoutStepPaymentDetails%%: %%LNG_ExpressCheckoutStepPaymentDetails%%
						</h3>
						<div class="ExpressCheckoutContent">
						</div>
					</div>
				</div>
			</div>
		</div>
		%%Panel.Footer%%
	</div>
</body>
</html>