<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
	%%Panel.Header%%
	<div id="Wrapper">
		<div class="Content Widest" id="LayoutColumn1">
			<div class="Block">
				<h2>%%LNG_CreateAccountThanks%%</h2>
				<div class="BlockContent">
					<p>%%LNG_CreateAccountThanksIntro%%</p>
					
					<p><a href="%%GLOBAL_ContinueLink%%">%%GLOBAL_Continue%%</a></p>
				</div>
			</div>
		</div>
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>