<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.js"></script>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.ProductBreadcrumb%%
			%%Panel.ProductDetails%%
			%%Panel.ProductDescription%%
			%%Panel.ProductWarranty%%
			%%Panel.ProductOtherDetails%%
			%%Panel.ProductByCategory%%
			%%Panel.ProductReviews%%
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.SideProductAddToCart%%
			%%Panel.SideCurrencySelector%%
			%%Panel.SideProductAddToWishList%%
			%%Panel.SideProductRelated%%
			%%Panel.SideProductRecentlyViewed%%
			%%Panel.SideLiveChatServices%%
		</div>
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>