<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
	<div id="Container">
	%%Panel.Header%%

	<div id="Wrapper">
		<div class="Content Wide" id="LayoutColumn1">
			%%Panel.SuggestiveCartBreadcrumb%%
            %%Panel.SuggestiveCartHeader%%
            %%Panel.CartFreeShipping%%
			%%Panel.SuggestiveCartContent%%
		</div>
		<div class="Right" id="LayoutColumn2">
			%%Panel.SideCartMiniCart%%
		</div>
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>