*{
	padding:0;
	margin:0;}
.manchete_textocasa {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_textocasa:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #ffffff; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.manchete_texto12 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #096395; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_texto7 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #096395; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_texto7:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #096395; FONT-SIZE: 11px; TEXT-DECORATION: underline
}
.manchete_texto6 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #FF0000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_texto6:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; TEXT-DECORATION: none
}

.manchete_texto16 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #008000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_texto16:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; TEXT-DECORATION: none
}

.manchete_textof6 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #008000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_textof6:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; TEXT-DECORATION: none
}


.manchete_textof8 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #FF8000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_textof8:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; TEXT-DECORATION: none
}


.manchete_textof9 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #804000; FONT-SIZE: 11px; TEXT-DECORATION: none
}
.manchete_textof9:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; TEXT-DECORATION: none
}


.manchete_texto5 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #000000; FONT-SIZE: 11px; TEXT-DECORATION: none
}

.manchete_texto {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.manchete_texto2 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #ffffff; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.manchete_texto3 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #008040; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.manchete_texto4 {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #0080FF; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.manchete_texto4:hover {
	FONT-FAMILY: Tahoma, "Trebuchet MS", Verdana, Arial; COLOR: #636363; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
BODY {
background: url(../imagens/ff.gif); background-repeat:repeat-x; background-color:#076CA0
}
.boxSombra {
	behavior: url(PIE.htc); box-shadow: 0px 0px 0.45em #000; -moz-box-shadow: 0 0 .45em #000; -webkit-box-shadow: 0 0 .45em #000;
}
.boxSombra2 {
	behavior: url(PIE.htc); box-shadow: 0px 0px 0.15em #000; -moz-box-shadow: 0 0 .15em #000; -webkit-box-shadow: 0 0 .15em #000;
}
.fontemenu {
	color: rgb(85, 155, 191); font-family: Tahoma, Geneva, sans-serif; font-size: 12px;
}
.fontemenu2 {
	color: rgb(73, 73, 73); font-family: Tahoma, Geneva, sans-serif; font-size: 12px;
}
.fontetabela5 {
	color: rgb(249, 249, 249); font-family: Tahoma, Geneva, sans-serif; font-size: 18px; text-decoration: none;
}
.fontetabela2 {
	color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none; color:#f9f9f9
}
.fontetabela {
	color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.fontetabela a:hover {
	color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: underline;
}
.fonteadm {
	color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.manchete_texto {
	color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.fontetitulo {
	color: rgb(249, 249, 249); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.fontetitulo a:hover {
	color: rgb(249, 249, 249); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: underline;
}
.fonteadm a:hover {
	color: rgb(179, 39, 26); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.fonterodape {
	color: rgb(249, 249, 249); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.fonterodape a:hover {
	color: rgb(253, 224, 82); font-family: Tahoma, Geneva, sans-serif; font-size: 11px; text-decoration: none;
}
.pontilhada {
	border: 1px dashed rgb(72, 147, 185); font-size: 10pt;
}
