<div class="Block Moveable" id="ForgotPasswordForm">
	<h2>%%LNG_ChangeYourPassword%%</h2>
	<div class="BlockContent">
		<p>
			%%LNG_ForgotPasswordIntro%%
		</p>

		<p class="ErrorMessage" style="display: %%GLOBAL_HideForgotPasswordError%%">
			%%GLOBAL_ErrorMessage%%
		</p>
		<form action="%%GLOBAL_ShopPath%%/login.php?action=send_password_email" method="post" onsubmit="return check_forgot_password_form()" class="PL20">
			<div class="FormContainer HorizontalFormContainer">
				<dl>
					<dt><span class="Required">*</span> %%LNG_EmailAddress%%:</dt>
					<dd><input type="text" class="Textbox" name="email" id="email" /></dd>

					<dt><span class="Required">*</span> %%LNG_NewPassword%%:</dt>
					<dd><input type="password" class="Textbox" name="new_pass" id="new_pass" /></dd>
					<dt><span class="Required">*</span> %%LNG_ConfirmNewPassword%%:</dt>
					<dd><input type="password" class="Textbox" name="new_pass_confirm" id="new_pass_confirm" /></dd>
				</dl>
				<p class="Submit"><input type="submit" value="%%LNG_ChangePassword%%" /></p>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
		document.getElementById("email").focus();
		//]]>
		</script>
		%%Panel.ForgotPasswordJavaScript%%
	</div>
</div>