<script type="text/javascript">

	/* Make sure all account details are filled in */
	function check_forgot_password_form() {
		var email = g("email");
		var current_pass = g("current_pass");
		var new_pass = g("new_pass");
		var new_pass_confirm = g("new_pass_confirm");

		if(email.value.indexOf("@") == -1 || email.value.indexOf(".") == -1) {
			alert("%%LNG_AccountEnterValidEmail%%");
			email.focus();
			email.select();
			return false;
		}

		if(new_pass.value == "") {
			alert("%%LNG_AccountEnterPassword%%");
			new_pass.focus();
			return false;
		}
		else if(new_pass.value != new_pass_confirm.value) {
			alert("%%LNG_AccountPasswordsDontMatch%%");
			new_pass_confirm.select();
			new_pass_confirm.focus();
			return false;
		}
		
		return true;
	}

</script>