<div class="Title">
	<h1>%%GLOBAL_ProductName%%</h1>
</div>

<div class="Nav">
	<div class="NextLink" style="display:%%GLOBAL_HideNextLink%%">
		<a href="%%GLOBAL_NextLink%%">%%LNG_NextImage%% &raquo;</a>
	</div>

	<div class="PrevLink" style="display:%%GLOBAL_HidePrevLink%%">
		<a href="%%GLOBAL_PrevLink%%">&laquo; %%LNG_PreviousImage%%</a>
	</div>

	<div class="ImageCount">
		%%GLOBAL_CurrentImage%%
	</div>

</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="Image">
	<tr>
		<td><img src="%%GLOBAL_ShopPath%%/%%GLOBAL_ImageDirectory%%/%%GLOBAL_ImageFile%%" id="ProductImage" vspace="10" hspace="10" alt="" name="ProductImage" /></td>
	</tr>
	<tr>
		<td><small><a href="#" onclick="window.parent.focus(); window.close();">%%LNG_ClickHereCloseWindow%%</a></small></td>
	</tr>
</table>