<p>%%LNG_SyndicateIntro%%</p>

<div style="display: %%GLOBAL_ShowNewsFeed%%">
	<h3>%%LNG_SyndicateNews%%</h3>

	<p>%%LNG_SyndicateNewsIntro%%</p>

	<p><a href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=rss"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=rss">%%LNG_SyndicateNewsRSS%%</a><br />
	<a href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=atom"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?action=newblogs&amp;type=atom">%%LNG_SyndicateNewsAtom%%</a></p>
</div>

<div style="display: %%GLOBAL_ShowNewProductsFeed%%">
	<h3>%%LNG_SyndicateNewProducts%%</h3>

	<p>%%LNG_SyndicateNewProductsIntro%%</p>

	<p><a href="%%GLOBAL_ShopPath%%/rss.php?type=rss"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?type=rss">%%LNG_SyndicateNewProductsRSS%%</a><br />
	<a href="%%GLOBAL_ShopPath%%/rss.php?type=atom"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?type=atom">%%LNG_SyndicateNewProductsAtom%%</a></p>
</div>

<div style="display: %%GLOBAL_ShowPopularProductsFeed%%">
	<h3>%%LNG_SyndicatePopularProducts%%</h3>

	<p>%%LNG_SyndicatePopularProductsIntro%%</p>

	<p><a href="%%GLOBAL_ShopPath%%/rss.php?action=popularproducts&amp;type=rss"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?action=popularproducts&amp;type=rss">%%LNG_SyndicatePopularProductsRSS%%</a><br />
	<a href="%%GLOBAL_ShopPath%%/rss.php?action=popularproducts&amp;type=atom"><img src="%%GLOBAL_TPL_PATH%%/images/RSSSmall.gif" border="0" alt="" /></a> <a href="%%GLOBAL_ShopPath%%/rss.php?action=popularproducts&amp;type=atom">%%LNG_SyndicatePopularProductsAtom%%</a></p>
</div>

<div style="display: %%GLOBAL_ShowSearchFeed%%">
	<h3>%%LNG_SyndicateSearches%%</h3>

	<p>%%LNG_SyndicateSearchesIntro%%</p>

	<p>%%LNG_SyndicateSearchesIntro2%%</p>
</div>
