		<div id="TopMenu">
			<ul style="display:%%GLOBAL_HidePurchasingOptions%%">
				<li style="display:%%GLOBAL_HideCurrencyFlags%%" class="Flag">
					<div class="FlagList">
						%%GLOBAL_CurrencyFlags%%
					</div>
				</li>
				<li class="HeaderLiveChat">
					%%GLOBAL_LiveChatCode%%
				</li>
				<li style="display:%%GLOBAL_HideAccountOptions%%" class="First"><a href="%%GLOBAL_ShopPathNormal%%/account.php">%%LNG_YourAccount%%</a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%"><a href="%%GLOBAL_ShopPathNormal%%/orderstatus.php">%%LNG_OrderStatus%%</a></li>
				<li style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPathNormal%%/wishlist.php">%%LNG_YourWishList%%</a></li>
				%%SNIPPET_TopMenuGiftCertificates%%
				<li style="display:%%GLOBAL_HideCartOptions%%"><a href="%%GLOBAL_ShopPathNormal%%/cart.php">%%LNG_ViewCart%% %%GLOBAL_CartItems%%</a></li>
				<li style="display:%%GLOBAL_HideAccountOptions%%">
					<div>
						%%GLOBAL_LoginOrLogoutText%%
					</div>
				</li>
			</ul>
			<br class="Clear" />
		</div>