<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<security name="MaxImageSize">200000000</security>
	<security name="MaxMediaSize">1000000000000</security>
	<security name="MaxFlashSize">2000000000</security>
	<security name="MaxDocumentSize">200000000000</security>
	<security name="MaxTemplateSize">200000000000</security>
	<security name="ImageGalleryPath">/Uploads</security>
	<security name="MediaGalleryPath">/Uploads</security>
	<security name="FlashGalleryPath">/Uploads</security>
	<security name="TemplateGalleryPath">/Templates</security>
	<security name="FilesGalleryPath">/Uploads</security>
	<security name="AllowUpload">true</security>
	<security name="AllowCreateFolder">true</security>
	<security name="AllowRename">true</security>
	<security name="AllowDelete">true</security>
	<security name="ImageFilters">
		<item>.jpg</item>
		<item>.jpeg</item>
		<item>.gif</item>
		<item>.png</item>
	</security>
	<security name="MediaFilters">
		<item>.avi</item>
		<item>.mpg</item>
		<item>.mpeg</item>
		<item>.mp3</item>
	</security>
  <security name="DocumentFilters">
    <item>.txt</item>
    <item>.doc</item>
    <item>.pdf</item>
    <item>.zip</item>
    <item>.rar</item>
    <item>.avi</item>
    <item>.mpg</item>
    <item>.mpeg</item>
    <item>.jpg</item>
    <item>.jpeg</item>
    <item>.gif</item>
    <item>.png</item>
    <item>.htm</item>
  </security>
  <security name="TemplateFilters">
    <item>.html</item>
    <item>.htm</item>
  </security>
  <security name="DemoMode">false</security>
</configuration>