<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="8" width="665" bgcolor="#CCCC99">
    <tr>
      <td width="12"></td>
      <td valign="middle" width="340" nowrap><font size="5">Your Heading Goes 
      Here</font></td>
      <td valign="middle" width="141"><font size="5"></font><font size="2">
      <strong>
      <img src="http://cutesoft.net/data/Cake.jpg" width="131" height="100"></strong></font><font size="5"></font><br>
      <font size="1"><em><strong>Cake Photo Caption</strong></em></font><br>
      </td>
      <td width="18"></td>
      <td width="115"></td>
    </tr>
    <tr>
      <td width="12"></td>
      <td valign="top" width="481" colspan="2"><font size="3">Lorem ipsum dolor 
      sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod 
      tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad 
      minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis 
      nisl ut aliquip ex ea commodo consequat. Duis te feugifacilisi. Duis autem 
      dolor in hendrerit in vulputate velit esse molestie consequat, vel illum 
      dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
      dignissim qui blandit praesent luptatum zzril delenit au gue duis dolore 
      te feugat nulla facilisi. </font>
      <p><font size="3">Ut wisi enim ad minim veniam, quis nostrud exerci taion 
      ullamcorper suscipit lobortis nisl ut aliquip ex en commodo consequat. 
      Duis te feugifacilisi per suscipit lobortis nisl ut aliquip ex en commodo 
      consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
      diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat 
      volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution 
      ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
      Duis te feugifacilisi. Duis autem dolor in hendrerit in vulputate velit 
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at 
      vero eros et accumsan et iusto odio dignissim qui blandit praesent 
      luptatum zzril delenit au gue duis dolore te feugat nulla facilisi. Ut 
      wisi enim ad minim veniam, quis nostrud exerci taion ullamcorper suscipit 
      lobortis nisl ut aliquip ex en commodo consequat. Duis te feugifacilisi 
      per suscipit lobortis nisl ut aliquip ex en commodo consequat.</font></p>
      <p><font size="3">Duis te feugifacilisi. Duis autem dolor in hendrerit in 
      vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
      facilisis at vero eros et accumsan et iusto odio dignissim qui blandit 
      praesent luptatum zzril delenit au gue duis dolore te feugat nulla 
      facilisi. Ut wisi enim ad minim veniam, quis nostrud exerci taion 
      ullamcorper suscipit lobortis nisl ut aliquip ex en commodo consequat. 
      Duis te feugifacilisi per suscipit lobortis nisl ut aliquip ex en commodo 
      consequat.</font></td>
      <td width="18"></td>
      <td valign="top" width="115"><font size="2"><strong>SECTION 1</strong></font><font size="3"><br>
      </font><font size="2">Title 1<br>
      Title 2<br>
      Title 3</font><p><font size="2"><strong>SECTION 2</strong></font><font size="4"><br>
      </font><font size="2">Title 1<br>
      Title 2<br>
      Title 3<br>
      Title 4</font></p>
      <p><font size="2"><strong>SECTION 3</strong></font><font size="3"><br>
      </font><font size="2">Title 1<br>
      Title 2<br>
      Title 3<br>
      Title 4<br>
      Title 5</font></p>
      <p><font size="2"><strong>SECTION 4<br>
      </strong>Title 1<br>
      Title 2<br>
      Title 3<br>
      Title 4<br>
      Title 5</font><font size="3"><br>
      </font><font size="2">Title 6</font><font size="3"><br>
      <br>
      </font></td>
    </tr>
  </table>
  </center>
</div>