<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dropdowns>
    <CssClass>
      <item text="[[NotSet]]" value="null"></item>
      <item text="Red Text" value="RedColor">
        <html><![CDATA[<span style='color:red'>RedColor</span>]]></html>
      </item>
      <item text="textbold" value="textbold">
        <html><![CDATA[<span class='textbold'>textbold</span>]]></html>
      </item>
      <item text="Highlight" value="Highlight">
        <html><![CDATA[<span style='background-color: yellow'>Highlight</span>]]></html>
      </item>
      <item text="Bold Green Text" value="BoldGreen">
        <html><![CDATA[<span style='color: green; font-weight: bold;'>Bold Green Text</span>]]></html>
      </item>
    </CssClass>
    <CssStyle>
      <item text="[[NotSet]]" value="null"></item>
      <item text="font-size:18pt" value="font-size:18pt"></item>
      <item text="color:red" value="color:red"></item>
      <item text="border:1px red solid" value="border:1px red solid"></item>
      <!--<item text="filter:alpha(opacity=20)">filter:alpha(opacity=20)</item> -->
    </CssStyle>
    <Codes>
      <item text="Email signature">
        <value><![CDATA[<font face="Courier New, Courier, mono" size="-1">E-mail: <a href="mailto:fake-company@server.com">fake-company@server.com</a>]]></value>
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/signature.gif' /> Email signature]]></html>
      </item>
      <item text="Contact us">
        <value>
          <![CDATA[<div>Your satisfaction is necessary to our success. Our goal is to provide you with the best level of customer service, and we welcome your comments and suggestions<br /><br /><strong>Email:<br /><br /></strong>Sales: <font color="#0000ff">
						<a href="mailto:sales@CuteSoft.Net">sales@CuteSoft.Net</a>
					</font> <br /><br />General: <a href="mailto:info@CuteSoft.Net">info@CuteSoft.Net</a><br /><br />Support: <a href="mailto:support@CuteSoft.Net">support@CuteSoft.Net </a><br /><strong><br />Address:</strong><br /><br />CuteSoft<br />35 SHERWOOD CRES<br />BELLEVILLE, ON<br />K8P 5G2<br />Canada </div>]]>
        </value>
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/contact.gif' /> Contact us]]></html>
      </item>
    </Codes>
    <Links>
      <item text="CuteSoft" value="http://phphtmledit.com/">
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/signature.gif' /> CuteSoft]]></html>
      </item>
      <item text="Mail to us" value="mailto:support@CuteSoft.Net">
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/email.gif' /> Mail to us]]></html>
      </item>
      <item text="Yahoo.com" value="http://www.yahoo.com/">
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/yahoo.gif' /> Yahoo.com]]></html>
      </item>
      <item text="Google.com" value="http://www.google.com">
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/Google.gif' /> Google.com]]></html>
      </item>
      <item text="MSDN" value="http://msdn.com/">
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/msdn16.png' /> MSDN]]></html>
      </item>
    </Links>
    <Images>
      <item text="Logo">
        <value><![CDATA[<img border="0" src="http://www.cutesoft.net/images/logo.gif" />]]></value>
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/logo_s.gif' /> Company logo]]></html>
      </item>
      <item text="Flower">
        <value><![CDATA[<img border="0" src="http://phphtmledit.com/data/j0313820.jpg" />]]></value>
        <html><![CDATA[<img border=0 align='absMiddle' src='http://phphtmledit.com/data/flower_s.gif' /> Flower]]></html>
      </item>
    </Images>
    <DropForeColor>
      <item text="[[NotSet]]" value="null"></item>
      <item text="Black" color="Black" value="Black"></item>
      <item text="Red" color="Red" value="Red"></item>
    </DropForeColor>
    <DropBackColor>
      <item text="[[NotSet]]" value="null"></item>
      <item text="White" bgColor="White" value="White"></item>
      <item text="Red" bgColor="Red" value="Red"></item>
    </DropBackColor>
    <Zoom>
      <item text="400%" value="400"></item>
      <item text="300%" value="300"></item>
      <item text="200%" value="200"></item>
      <item text="100%" value="100"></item>
      <item text="80%" value="80"></item>
      <item text="75%" value="75"></item>
      <item text="66%" value="66"></item>
      <item text="50%" value="50"></item>
      <item text="33%" value="33"></item>
      <item text="25%" value="25"></item>
    </Zoom>
    <FormatBlock>
      <item text="[[Normal]]" value="&lt;P&gt;">
        <html><![CDATA[[[Normal]]]]></html>
      </item>
      <item text="[[Heading 1]]" value="&lt;H1&gt;">
        <html><![CDATA[<b style='font-size:24pt'>[[Heading 1]]</b>]]></html>
      </item>
      <item text="[[Heading 2]]" value="&lt;H2&gt;">
        <html><![CDATA[<b style='font-size:18pt'>[[Heading 2]]</b>]]></html>
      </item>
      <item text="[[Heading 3]]" value="&lt;H3&gt;">
        <html><![CDATA[<b style='font-size:15pt'>[[Heading 3]]</b>]]></html>
      </item>
      <item text="[[Heading 4]]" value="&lt;H4&gt;">
        <html><![CDATA[<b style='font-size:12pt'>[[Heading 4]]</b>]]></html>
      </item>
      <item text="[[Heading 5]]" value="&lt;H5&gt;">
        <html><![CDATA[<b style='font-size:9pt'>[[Heading 5]]</b>]]></html>
      </item>
      <item text="[[Heading 6]]" value="&lt;H6&gt;">
        <html><![CDATA[<b style='font-size:7pt'>[[Heading 6]]</b>]]></html>
      </item>
      <item text="[[Address]]" value="&lt;Address&gt;">
        <html><![CDATA[[[Address]]]]></html>
      </item>
      <item text="[[MenuList]]" value="&lt;MENU&gt;">
        <html><![CDATA[[[MenuList]]]]></html>
      </item>
      <item text="[[Formatted]]" value="&lt;PRE&gt;">
        <html><![CDATA[[[Formatted]]]]></html>
      </item>
      <item text="[[Definition Term]]" value="&lt;DT&gt;">
        <html><![CDATA[[[Definition Term]]]]></html>
      </item>
    </FormatBlock>
    <FontName>
      <item text="Arial" html="&lt;font size=3 face='Arial'&gt;Arial&lt;/font&gt;">Arial</item>
      <item text="Verdana" html="&lt;font size=3 face='Verdana'&gt;Verdana&lt;/font&gt;">Verdana</item>
      <item text="Comic Sans MS" html="&lt;font size=3 face='Comic Sans MS'&gt;Comic Sans MS&lt;/font&gt;">Comic Sans MS</item>
      <item text="Courier" html="&lt;font size=3 face='Courier'&gt;Courier&lt;/font&gt;">Courier</item>
      <item text="Georgia" html="&lt;font size=3 face='Georgia'&gt;Georgia&lt;/font&gt;">Georgia</item>
      <item text="Impact" html="&lt;font size=3 face='Arial'&gt;Impact&lt;/font&gt;">Impact</item>
      <item text="Lucida Console" html="&lt;font size=3 face='Lucida Console'&gt;Lucida Console&lt;/font&gt;">Lucida Console</item>
      <item text="Tahoma" html="&lt;font size=3 face='Tahoma'&gt;Tahoma&lt;/font&gt;">Tahoma</item>
      <item text="Times New Roman" html="&lt;font size=3 face='Times New Roman'&gt;Times New Roman&lt;/font&gt;">Times New Roman</item>
      <item text="Wingdings" html="&lt;font size=3 face='Wingdings'&gt;Wingdings&lt;/font&gt;">Wingdings</item>
    </FontName>
    <FontSize>
      <item text="[[NotSet]]" value="null">
        <html><![CDATA[[[NotSet]]]]></html>
      </item>
      <!-- <item text="9pt" html="&lt;span style='font-size:9pt'&gt;9pt&lt;/span&gt;">9pt</item> -->
      <!-- <item text="12px" html="&lt;span style='font-size:12px'&gt;12px&lt;/span&gt;">12px</item>-->
      <item text="1 (8pt)" value="1">
        <html><![CDATA[<font size='1'>Size 1 </font>(8pt)]]></html>
      </item>
      <item text="2 (10pt)" value="2">
        <html><![CDATA[<font size='2'>Size 2 </font>(10pt)]]></html>
      </item>
      <item text="3 (12pt)" value="3">
        <html><![CDATA[<font size='3'>Size 3 </font>(12pt)]]></html>
      </item>
      <item text="4 (14pt)" value="4">
        <html><![CDATA[<font size='4'>Size 4 </font>(14pt)]]></html>
      </item>
      <item text="5 (18pt)" value="5">
        <html><![CDATA[<font size='5'>Size 5 </font>(18pt)]]></html>
      </item>
      <item text="6 (24pt)" value="6">
        <html><![CDATA[<font size='6'>Size 6 </font>(24pt)]]></html>
      </item>
      <item text="7 (36pt)" value="7">
        <html><![CDATA[<font size='7'>Size 7 </font>(36pt)]]></html>
      </item>
    </FontSize>
  </dropdowns>

  <contextmenus>
  </contextmenus>
</configuration>