a
{
	color: #07519A;
	cursor: pointer;
}

a:hover
{
	text-decoration: underline;
}

.galleryContainer
{
	border-color: #AACCEE;
	border-width: 1px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
}

.galleryContainerHidden
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
}

.titleBar
{
	width: *;
	height: 20px;
	background-color: #EBF3FB;
	color: #666666;
	border-bottom-color: #AACCEE;
	border-bottom-width: 1px;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
}

.galleryTitle
{
	margin-right: 120px;
	width: *;
	vertical-align: bottom;
	padding-top: 5px;
}

.controlBarLeft
{
	left: 0px;
	right: 0px;
	top: *;
	bottom: *;
}

.controlBarRight
{
	right: 0px;
	top: *;
	bottom: *;
}

.controlBarCenter
{
	left: *;
	right: *;
	top: *;
	bottom: *;
}

.logo
{
	height: 20px;
	cursor: pointer;
	margin-top: -5px;
	margin-right: 10px;
}

.galleryContents
{
	width: *;
	height: *;
	background-color: #ffffff;
}

.galleryContentsTabbed
{
	width: *;
	height: *;
	border-color: #AACCEE;
	border-width: 1px;
	border-top-width: 0px;
	background-color: #ffffff;
}

.tabContents
{
	width: *;
	height: *;
}

.contentsHeader
{
	width: *;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.contentsFooter
{
	width: *;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

.videoRequestControl
{
	width: *;
	height: *;
	overflow: hidden;
}

.detailViewControl
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 3px;
	overflow: scroll-y;
}

.detailVideoControl
{
	padding: 3px;
	overflow: hidden;
	height: 100px;
}

.detailVideoControlPlaying
{
	padding: 3px;
	background-color: #cccccc50;	
	overflow: hidden;
}

.detailVideoControlContainer
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.detailVideoControlInfo
{
	width: *;
	height: *;
	padding-left: 3px;
	leading: -4;
}

.videoControlPlayButton
{
	background-image: 14x14_play_icon_black.png;
	width: 19px;
	height: 14px;
	margin-top: 2px;
	margin-left: 5px;
	cursor: pointer;
}

.videoControlTitle
{
	width: *;
	word-wrap: true;
	max-height: 32px;
	leading: -2;
}

.videoControlSource
{
	width: *;
}

.videoControlDate
{
	width: *;
}

.videoControlDescription
{
	width: *;
	word-wrap: true;
}

.videoControlHDText
{
	width: *;
	color: #0099ff;
	margin-left: 5px;
	cursor: pointer;
}

.videoControlHDIcon
{
	background-image: HD_icon.png;
	width: 18;
	height: 7;
	margin-left: 3px;
	margin-top: 6px;
	cursor: pointer;
}

.videoControlHDLinkIcon
{
	background-image: external_link_icon.png;
	width: 11;
	height: 10;
	margin-top: 3px;
	margin-left: 3px;
	cursor: pointer;
}

.shareBarHDText
{
	width: *;
	color: #0099ff;
	margin-left: 5px;
	cursor: pointer;
}

.shareBarHDIcon
{
	background-image: HD_icon.png;
	width: 18;
	height: 7;
	margin-left: 3px;
	margin-top: 6px;
	cursor: pointer;
}

.shareBarHDLinkIcon
{
	background-image: external_link_icon.png;
	width: 11;
	height: 10;
	margin-top: 3px;
	margin-left: 3px;
	cursor: pointer;
}

.thumbnail
{
	cursor: pointer;
}

.linkback
{
	height: 17px;
}

.pagingControl
{
	color: #666666;
}

.pagingSeparator
{
	padding-left: 5px;
	padding-right: 5px;
}

.pagingButtonSelected
{
	font-weight: bold;
	color: #666666;
}

.pagingButtonSelected:hover
{
	text-decoration: none;
}

.comboBox
{
	width: 100px;
	color: #666666;
	cursor: pointer;
}

.comboBoxBase
{
	left: 0px;
	right: 0px;
	height: 18px;
	border-color: #666666;
	border-width: 1px;
	background-color: #ffffff;
}

.comboBoxBaseText
{
	width: *;
	padding-left: 2px;
	padding-right: 2px;
}

.comboBoxButton
{
	width: 10px;
	height: 12px;
	margin-top: 6px;
	margin-right: 3px;
	background-image: down_arrow.gif;	
}

.comboBoxMenuDown
{
	left: 0px;
	right: 0px;
	border-color: #666666;
	border-width: 1px;
	border-top-width: 0px;
	background-color: #ffffff;
	top: 17px;
}

.comboBoxMenuUp
{
	left: 0px;
	right: 0px;
	border-color: #666666;
	border-width: 1px;
	border-bottom-width: 0px;
	background-color: #ffffff;
	bottom: 16px;
}

.comboBoxOption
{
	width: *;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #ffffff;
}

.comboBoxOption:hover
{
	background-color: #dddddd;
}

.videoRequestComboBox
{
	width: 125px;
	color: #666666;
	cursor: pointer;
}

.sortComboBox
{
	width: 125px;
	color: #666666;
	cursor: pointer;
}

.sortTimeComboBox
{
	width: 125px;
	color: #666666;
	cursor: pointer;
	margin-left: 10px;
}

.sortControl
{
	font-weight: normal;
}

.sortMenuLabel
{
	padding-right: 5px;
}

.detailViewButton
{
	background-image: detail_view_icon.gif;
	width: 26px;
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.gridViewButton
{
	background-image: grid_view_icon.gif;
	width: 26px;
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.listViewButton
{
	background-image: list_view_icon.gif;
	width: 26px;
	height: 15px;
	margin-left: 4px;
	margin-right: 3px;
	cursor: pointer;
}

.detailViewButtonSelected
{
	background-image: detail_view_icon_selected.gif;
	width: 26px;
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
}

.gridViewButtonSelected
{
	background-image: grid_view_icon_selected.gif;
	width: 26px;
	height: 15px;
	margin-left: 3px;
	margin-right: 3px;
}

.listViewButtonSelected
{
	background-image: list_view_icon_selected.gif;
	width: 26px;
	height: 15px;
	margin-left: 4px;
	margin-right: 3px;
}

.gridViewControl
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 3px;
	overflow: scroll-y;
}

.gridVideoControl
{
	padding: 3px;
	overflow: hidden;
	height: 200px;
}

.gridVideoControlPlaying
{
	padding: 3px;
	overflow: hidden;
	background-color: #cccccc50;
}

.gridVideoControlContainer
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.gridVideoControlPlayButton
{
	background-image: 14x14_play_icon_black.png;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	cursor: pointer;
}

.gridVideoControlInfo
{
	width: *;
	height: *;
	margin-top: 3px;
	leading: -4;
}

.gridVideoControlText
{
	left: 0px;
	right: 0px;
}

.gridVideoControlTitle
{
	width: *;
	word-wrap: true;
	max-height: 32px;
	text-indent: 16px;
	leading: -2;
}

.searchBox
{
	border-color: #666666;
	border-width: 1px;
	height: 20px;
	vertical-align: center;
}

.searchBoxText
{
	width: 115px;
	height: *;
	color: #666666;
	overflow: hidden;
}

.searchBoxButton
{
	background-image: search_button.png;
	background-repeat: stretch;
	height: *;
	color: #07519A;
	padding-left: 10px;
	padding-right: 5px;
	margin-top: 1px;
	cursor: pointer;
}

.rssButton
{
	background-image: rss_icon.gif;
	width: 12px;
	height: 12px;
	vertical-align: center;
}

.uploadButton
{
	background-image: blue_button.jpg;
	height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	background-repeat: stretch;
	color: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: center;
}

.controlBarSpacer
{
	width: 10px;
}

.viewChooser
{
	vertical-align: center;
	margin-top: 1px;
}

.listViewControl
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 3px;
	overflow: scroll-y;
}


.listVideoControl
{
	padding: 3px;
	overflow: hidden;
	height: 25px;
}

.listVideoControlPlaying
{
	padding: 3px;
	overflow: hidden;
	background-color: #cccccc50;
}

.listVideoControlContainer
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.listVideoControlPlayButton
{
	background-image: 14x14_play_icon_black.png;
	width: 19px;
	height: 14px;
	margin-top: 1px;
	margin-right: 5px;
	cursor: pointer;
}

.listVideoControlSpacer
{
	width: *;
}

.listVideoControlSeparator
{
	color: #666666;
	padding-left: 5px;
	padding-right: 5px;
}

.viewContainer
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.videoContainer
{
	width: *;
	height: *;
}

.viewControlImage
{
	horizontal-align: center;
	margin: 10px;
}

.previewPlayerContainer
{
	background-color: #000000;
}

.videoPreview
{
	cursor: pointer;
}

.errorMessage
{
	left: *;
	right: *;
	top: *;
	bottom: *;
}

.toolTip
{
	background-color: #ffffe1;
	border-color: #333333;
	border-width: 1;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.addToPlaylistButton
{
	background-image: add_to_playlist.gif;
	width: 14px;
	height: 13px;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
}

.tabBar
{
	width: *;
	height: 30px;
}

.tab
{
	height: 20px;
	border-color: #AACCEE;
	border-width: 1px;
	color: #07519A;
	background-color: #F7F7F7;
	vertical-align: bottom;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.tabSelected
{
	height: 25px;
	border-color: #AACCEE;
	border-width: 1px;
	border-bottom-width: 0px;
	color: #999999;
	font-weight: bold;
	vertical-align: bottom;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	background-color: #ffffff;
}

.tabBarSpacerEnd
{
	width: *;
	height: *;
	border-bottom-color: #AACCEE;
	border-bottom-width: 1px;
}

.videoRequestPanel
{
	width: *;
	height: *;
}

.videoInfoPanel
{
	width: *;
	height: *;
}

.playerPanel
{
	width: *;
	height: *;
}

.playerContainer
{
	width: *;
	height: *;
}

.playerCloseWindow
{
	left: *;
	right: *;
	top: *;
	bottom: *;
	padding: 20px;
	padding-top: 10xp;
	padding-bottom: 10px;
	background-color: #66666650;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	border-color: #999999;
	border-width: 1px;
}

.playerCloseButton
{
	right: 0px;
	top: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	background-color: #cccccc;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	border-color: #333333;
	border-width: 1px;
}

.infoPaneContents
{
	padding: 5px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.infoPaneVideoInfo
{
	width: *;
	height: *;
}

.infoPaneButtons
{
	width: *;
	height: 15px;
}

.copyVideoLinkButton
{
	background-image: videolink.png;
	width: 20px;
	height: 15px;
	margin-right: 3px;
	cursor: pointer;
}

.emailVideoButton
{
	background-image: email.png;	
	width: 33px;
	height: 15px;
	margin-left: 15px;
	margin-right: 3px;
	margin-top: 2px;
	cursor: pointer;
}

.imVideoButton
{
	background-image: messenger.png;	
	width: 21px;
	height: 15px;
	margin-right: 2px;
	margin-top: 0px;
}

.messengerLink
{
	margin-left: 10px;
	cursor: pointer;
}

.infoPaneLogo
{
	padding-bottom: 5px;
}

.infoPaneTitle
{
	font-weight: bold;
	width: *;
}

.infoPaneDescription
{
	width: *;
	word-wrap: true;
	max-height: 45px;
}

.infoPaneHeader
{
	font-weight: bold;
	padding-top: 5px;
}

.infoPaneRelatedLink
{
	width: *;
}

.adPanel
{
	width: 300px;
	height: 60px;
	horizontal-align: left;
	cursor: pointer;
}

.playerAdPanel
{
	width: 310px;
	height: 70px;
	horizontal-align: center;
	margin: 5px;
	cursor: pointer;
}

.mainErrorMessage
{
	width: *;
	height: *;
	background-color: #ffffff;
	padding: 10px;
	word-wrap: true;
}

.infoPaneContentsCP
{
	padding: 5px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.infoPaneInfoCP
{
	width: *;
	height: *;
}

.infoPaneFooterCP
{
	width: *;
	height: 30px;
}

.infoPaneVideoInfoCP
{
	width: *;
	height: *;
}

.infoPaneLogoCP
{
	padding: 2px;
	top: 5px;
	left: 0px;
}

.infoPaneButtonContainerCP
{
	right: 0px;
	bottom: 0px;
}

.infoPaneOtherInfoCP
{
	width: *;
	height: *;
	padding-left: 20px;
}

.infoPaneTitleCP
{
	font-weight: bold;
	width: *;
}

.infoPaneDescriptionCP
{
	width: *;
	word-wrap: true;
}

.infoPaneHeaderCP
{
	font-weight: bold;
}

.infoPaneRelatedLinkCP
{
	width: *;
}

.galleryContainerContent
{
	width: *;
	height: *;
}

.navContainer
{
	width: 115px;
	height: *;
}

.navPanel
{
	border-right-color: #AACCEE;
	border-right-width: 1px;
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	width: *;
	height: *;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 10px;
}

.verticalNavPanel
{
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.headerRow
{
	width: *;
	height: 25px;
	display: none;
}

.headerText
{
	font-size: 14px;
	font-weight: bold;
	width: *;
}

.backButton
{
	width: 20px;
	height: *;;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.tagPanel
{
	width: *;
	height: *;
	overflow: scroll-y;
	padding-left: 5px;
}

.tagText
{
	width: *;
}

.tagTextSelected
{
	width: *;
	font-weight: bold;
}

.verticalScrollbar
{
	width: 17px;
	background-color: Transparent;
}

.scrollButtonTop
{
	left: 0px;
	top: 0px;
	right: 0px;
	height: 14px;
	margin-left: 4px;
	margin-top: 2px;
	cursor: pointer;
	background-image: ../../customplayer/1_0/scroll_button_up_dark.png;
}

.scrollButtonBottom
{
	right: 0px;
	bottom: 0px;
	left: 0px;
	height: 14px;
	margin-left: 4px;
	margin-top: 6px;
	cursor: pointer;
	background-image: ../../customplayer/1_0/scroll_button_down_dark.png;
}

.scrollSliderVertical
{
	top: 14px;
	left: 0px;
	right: 0px;
	height: 40px;
	cursor: pointer;
	background-color: #cccccc;
	border-color: #cccccc;
	border-width: 1px;
	margin: 2px;
}

.scrollSlideAreaVertical
{
	top: 14px;
	bottom: 14px;
	left: 0px;
	right: 0px;
	background-color: Transparent;
	border-color: #cccccc;
	border-width: 1px;
}

.rating
{
	height: 12px;
	margin-top: 2px;
}

.star00
{
	background-image: star_00.gif;
	width: 14px;
	height: 12px;
	margin-right: 2px;
}

.star25
{
	background-image: star_25.gif;
	width: 14px;
	height: 12px;
	margin-right: 2px;
}

.star50
{
	background-image: star_50.gif;
	width: 14px;
	height: 12px;
	margin-right: 2px;
}

.star75
{
	background-image: star_75.gif;
	width: 14px;
	height: 12px;
	margin-right: 2px;
}

.star100
{
	background-image: star_100.gif;
	width: 14px;
	height: 12px;
	margin-right: 2px;
}

.mixViewContainer
{
	width: *;
	height: *;
}

#internalMixView .mix
{
	width: *;
	height: *;
	font-family: Tahoma;
}

#internalMixView .thumbnail
{
	drop-shadow: distance=3,alpha=0.4;
	border-width: 1px;
	border-color: #ffffff;
	cursor: pointer;
	background-color: #000000;
}

#internalMixView .thumbnailContainer
{
	width: *;
	height: *;
	overflow: hidden;
}

#internalMixView .thumbnailImage
{
	overflow: hidden;
}

#internalMixView .centerThumbnail
{
	position: absolute;
	border-width: 3px;
	border-color: #ffffff;
	drop-shadow: distance=3,alpha=0.4;
	margin: -3px;
	cursor: pointer;
	background-color: #000000;
}

#internalMixView .labelContainer
{
	width: *;
	bottom: 0px;
	padding: 1px;
	padding-top: 10px;
	background-color: #000000 #000000 #000000 #000000;
	background-gradient-rotation: 90;
	background-gradient-alpha: 0 0.53 0.73 0.87;
}

#internalMixView .typeText
{
	font-size: 11px;
	color: #cccccc;
	max-height: 15px;
	width: *;
}

#internalMixView .labelText
{
	font-size: 12px;
	color: #ffffff;
	width: *;
}

#internalMixView .tooltip
{
	max-width: 200px;
	background-color: #f6f6ffee;
	font-family: Tahoma;
	margin: 3px;
	border-width: 1px;
	border-color: #999999;
}

#internalMixView .tooltipTypeText
{
	color: #888888;
	font-size: 11px;
	width: *;
}

#internalMixView .tooltipLabel
{
	color: #333333;
	font-weight: bold;
	width: *;
}

#internalMixView .tooltipDescription
{
	color: #333333;
	word-wrap: true;
	width: *;
}

#internalMixView .playButton
{
	left: *;
	right: *;
	top: *;
	bottom: *;
	opacity: 0.8;
}

.shareBar
{
	width: *;
	bottom: 0px;
	height: 125px;
}

.shareBarSpacer
{
	height: *;
}

.shareBarTop
{
	width: *;
	height: 90px;
	border-top-width: 1px;
	border-top-color: #AACCEE;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	color: #333333;
}

.shareBarBottom
{
	width: *;
	height: 20px;
	margin-top: 3px;
}

.shareVideoLinkOpen
{
	font-weight: normal;
	margin-right: 20px;
}

.shareVideoLink
{
	margin-bottom: 1px;
	margin-right: 20px;
}

.shareVideoLinkDisabled
{
	margin-bottom: 1px;
	margin-right: 20px;
	color: #666666;
	cursor: auto;
}

.shareVideoLinkDisabled:hover
{
	margin-bottom: 1px;
	margin-right: 20px;
	color: #666666;
	cursor: auto;
	text-decoration: none;
}

.imVideoLink
{
	margin-right: 20px;
}

.emailVideoLink
{
	margin-right: 20px;
}

.copyVideoLink
{
	margin-right: 20px;
}

.copyVideoLinkButton
{
	background-image: videolink.png;
	width: 17px;
	height: 15px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 1px;
	cursor: pointer;
}

.shareVideoButton
{
	background-image: embed.png;	
	width: 18px;
	height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1px;
	cursor: pointer;
}

.shareVideoButtonDisabled
{
	background-image: embed.png;	
	width: 18px;
	height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1px;
	cursor: auto;
}

.emailVideoButton
{
	background-image: email.png;	
	width: 18px;
	height: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 3px;
	cursor: pointer;
}

.imVideoButton
{
	background-image: messenger.png;	
	width: 19px;
	height: 15px;
	margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

.messengerLink
{
	cursor: pointer;
	margin-left: 0px;
}

.shareCloseButton
{
	background-image: closeButton.png;
	width: 14px;
	height: 14px;
	cursor: pointer;
	horizontal-align: right;
	margin: 2px;
	margin-bottom: 0px;
}

.shareRow
{
	margin-bottom: 8px;
}

.embedRow
{
	margin-bottom: 8px;
}

.embedPanelText
{
	color: #333333;
	font-size: 12px;
}

.facebookIcon
{
	background-image: facebook.png;
	width: 28px;
	height: 18px;
	margin-left: 10px;
}

.spacesIcon
{
	background-image: spaces.png;
	width: 28px;
	height: 18px;
	margin-left: 10px;
}

.myspaceIcon
{
	background-image: myspace.png;
	width: 28px;
	height: 18px;
	margin-left: 10px;
}

.diggIcon
{
	background-image: digg.png;
	width: 28px;
	height: 18px;
	margin-left: 10px;
}

.embedTextField
{
	margin-left: 10px;
	width: 200px;
	height: 18px;
	border-color: #666666;
	border-width: 1px;
	color: #666666;
	background-color: #ffffff;
	text-overflow: clip;
	margin-right: 5px;
}

.playerSizeRadioSet
{
	width: *;
	height: 15px;
	margin-left: 10px;
}

.radio
{
	margin-right: 15px;
}

.radioButton
{
	width: 18px;
	height: 12px;
	cursor: pointer;
}

.radioLabel
{
}
.


