BODY {
margin:0; background:url(../imagens/fundo.jpg); background-position:center; background-position:top; background-color:#ffffff;
}
a {
text-decoration:none	
}
.boxSombra {
	behavior: url(PIE.htc); box-shadow: 0px 0px 0.65em #000; -moz-box-shadow: 0 0 .65em #000; -webkit-box-shadow: 0 0 .65em #000;
}
.pontilhada {
	border: 1px dashed #17753B; font-size: 10pt;
}
.fonte {
	color: #333; font-family: Tahoma, Geneva, sans-serif; font-size: 15px; text-decoration:none
}
.fonte a:hover {
	color: #184534; font-family: Tahoma, Geneva, sans-serif; font-size: 15px; text-decoration:none
}

.fontelink {
	color: #333; font-family: Tahoma, Geneva, sans-serif; font-size: 17px; text-decoration:none
}
.fontelink a:hover {
	color: #184534; font-family: Tahoma, Geneva, sans-serif; font-size: 17px; text-decoration:none
}
.fontetitulo {
	color: #FF3300; font-family: Tahoma, Geneva, sans-serif; font-size: 16px; text-decoration:none
}


